<div>
  <br />
  <app-navbar-user></app-navbar-user>
  <br />
</div>

<div *ngIf="(user$|async) as user;else loading">
  <div>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Days left</th>
        <th>Country</th>
        <th>Starts</th>
        <th>Ends</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let event of user.goings">
        <td>{{event.name}}</td>
        <td>{{event.calculateDaysLeft()}}</td>
        <td>{{event.country}}</td>
        <td>{{event.startDate | date:'dd/MM/yyyy'}}</td>
        <td>{{event.endDate | date:'dd/MM/yyyy'}}</td>
        <td>
          <span>
            <!-- <mat-icon>remove_circle</mat-icon> -->
            <a mat-button (click)="addToInterested(event.eventId)">Add to interested</a>
            <a mat-button (click)="removeFromGoing(event.eventId)">Remove from going</a>
          </span>
        </td>
      </tr>
    </table>
  </div>
</div>

<ng-template #loading>
  <mat-spinner class="loading"></mat-spinner>
</ng-template>
