<div>
  <br />
  <app-navbar-user></app-navbar-user>
  <br />
</div>

<div *ngIf="(user$|async) as user;else loading">
  <div>
    <table mat-table [dataSource]="user.goings" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let event" [routerLink]="['../all-events/detail-page/',event.eventId]">{{event.name}}</td>
      </ng-container>

      <ng-container matColumnDef="daysLeft">
        <th mat-header-cell *matHeaderCellDef>Days left</th>
        <td mat-cell *matCellDef="let event" [routerLink]="['../all-events/detail-page/',event.eventId]">{{event.calculateDaysLeft()}}</td>
      </ng-container>

      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef>Country</th>
        <td mat-cell *matCellDef="let event" [routerLink]="['../all-events/detail-page/',event.eventId]">{{event.country}}</td>
      </ng-container>

      <ng-container matColumnDef="starts">
        <th mat-header-cell *matHeaderCellDef>Starts</th>
        <td mat-cell *matCellDef="let event" [routerLink]="['../all-events/detail-page/',event.eventId]">{{event.startDate | date:'dd/MM/yyyy'}}</td>
      </ng-container>

      <ng-container matColumnDef="ends">
        <th mat-header-cell *matHeaderCellDef>Ends</th>
        <td mat-cell *matCellDef="let event" [routerLink]="['../all-events/detail-page/',event.eventId]">{{event.endDate | date:'dd/MM/yyyy'}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let event">
          <a mat-button (click)="addToInterested(event.eventId)">Add to interested</a>
          <a mat-button (click)="removeFromGoing(event.eventId)">Remove from going</a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['name','daysLeft','country','starts','ends','actions']"></tr>
      <tr mat-row *matRowDef="let rowData; columns:['name','daysLeft','country','starts','ends','actions']"></tr>
    </table>
  </div>
</div>

<ng-template #loading>
  <mat-spinner class="loading"></mat-spinner>
</ng-template>
