<div *ngIf="(user$|async) as user;else loading">
  <div>
    <br />
    <mat-toolbar>
      <mat-toolbar-row>
        <a mat-button [routerLink]="['../../profile',user.email]">Profile</a>
        <a mat-button [routerLink]="['../../interests',user.email]">Interests</a>
        <a mat-button [routerLink]="['../../goings',user.email]">Goings</a>
      </mat-toolbar-row>
    </mat-toolbar>
    <br />
  </div>
  <div>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Country</th>
        <th>Starts</th>
        <th>Ends</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let event of user.goings">
        <td>{{event.name}}</td>
        <td>{{event.country}}</td>
        <td>{{event.startDate | date:'dd/MM/yyyy'}}</td>
        <td>{{event.endDate | date:'dd/MM/yyyy'}}</td>
        <td>
          <mat-icon>remove_circle</mat-icon>
        </td>
      </tr>
    </table>
  </div>
</div>

<ng-template #loading>
  <mat-spinner class="loading"></mat-spinner>
</ng-template>
