<div>
  <br />
  <app-navbar-user></app-navbar-user>
  <br />
</div>

<div *ngIf="(user$|async) as user;else loading">
  <div class="profile">
    <mat-card>
      <mat-card-title>{{user.firstname}} {{user.lastname}}</mat-card-title>
      <mat-card-content>
        <p><strong>E-mail: </strong>{{user.email}}</p>
        <p><strong>Admin: </strong>{{user.isAdmin?"Yes":"No"}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<ng-template #loading>
  <mat-spinner class="loading"></mat-spinner>
</ng-template>
