<div *ngIf="(coordinates$ | async) as coordinates;">
  <agm-marker [latitude]="coordinates.latitude" [longitude]="coordinates.longitude">
    <agm-info-window *ngIf="(infowindow)">
      <h2>{{event.name}}</h2>
      <p><strong>{{event.country}}</strong></p>
      <p>{{event.startDate | date:'dd/MM/yyyy'}} - {{event.endDate | date:'dd/MM/yyyy'}}</p>
      <p>{{event.description}}</p>
      <button mat-button [routerLink]="['../all-events/detail-page',event.eventId]" class="moreDetails">More details</button>
    </agm-info-window>
  </agm-marker>
</div>