<header>
  <mat-toolbar class="navbar">
    <mat-toolbar-row>
      <div class="buttons">
        <a mat-button [routerLink]="['all-events/europe-map']">Map</a>
        <a mat-button [routerLink]="['all-events']">Events</a>
      </div>
        <a [routerLink]="['all-events']">
          <img class="logo" src="assets/img/psygardenLogo.png" />
        </a>
      <div class="buttons">
        <a mat-button [routerLink]="['register']">Register</a>
        <a mat-button [routerLink]="['login']">Login</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
