<div class="registerForm">
  <mat-card>
    <mat-card-title>Register</mat-card-title>
    <mat-card-content>
      <form [formGroup]="_user" (ngSubmit)="onSubmit()">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>First name</mat-label>
            <input matInput aria-label="First name" type="text" formControlName="firstname" required />
            <mat-error *ngIf="_user.get('firstname')['errors'] && _user.get('firstname').touched">
              {{getErrorMessage(_user.get('firstname')['errors'])}}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Last name</mat-label>
            <input matInput aria-label="Last name" type="text" formControlName="lastname" required />
            <mat-error *ngIf="_user.get('lastname')['errors'] && _user.get('lastname').touched">
              {{getErrorMessage(_user.get('lastname')['errors'])}}
            </mat-error>
          </mat-form-field>
        </p>
        <p formGroupName="emailGroup">
          <mat-form-field appearance="outline" class="email">
            <mat-label>E-mail</mat-label>
            <input matInput aria-label="E-mail" type="text" formControlName="email" required />
            <mat-error
              *ngIf="_user.get('emailGroup').get('email')['errors'] && _user.get('emailGroup').get('email').touched">
              {{getErrorMessage(_user.get('email')['errors'])}}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Verify e-mail</mat-label>
            <input matInput aria-label="emailConfirmation" type="text" formControlName="emailConfirmation" required />
            <mat-error
              *ngIf="_user.get('emailGroup').get('emailConfirmation')['errors'] && _user.get('emailGroup').get('emailConfirmation').touched">
              {{getErrorMessage(_user.get('emailConfirmation')['errors'])}}
            </mat-error>
          </mat-form-field>
          <mat-error
            *ngIf="_user.get('emailGroup').errors && _user.get('emailGroup').get('email').touched && _user.get('emailGroup').get('emailConfirmation').touched">
            {{getErrorMessage(_user.get('emailGroup').errors)}}
          </mat-error>
        </p>
        <p formGroupName="passwordGroup">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <mat-pass-toggle-visibility #toggleP matSuffix></mat-pass-toggle-visibility>
            <input matInput aria-label="Password" [type]="toggleP.type" formControlName="password" required />
            <mat-error
              *ngIf="_user.get('passwordGroup').get('password')['errors'] && _user.get('passwordGroup').get('password').touched">
              {{getErrorMessage(_user.get('password')['errors'])}}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Verify password</mat-label>
            <mat-pass-toggle-visibility #togglePC matSuffix></mat-pass-toggle-visibility>
            <input matInput aria-label="Password confirmation" [type]="togglePC.type"
              formControlName="passwordConfirmation" required />
            <mat-error
              *ngIf="_user.get('passwordGroup').get('passwordConfirmation')['errors'] && _user.get('passwordGroup').get('passwordConfirmation').touched">
              {{getErrorMessage(_user.get('passwordConfirmation')['errors'])}}
            </mat-error>
          </mat-form-field>
          <mat-error
            *ngIf="_user.get('passwordGroup').errors && _user.get('passwordGroup').get('password').touched && _user.get('passwordGroup').get('passwordConfirmation').touched">
            {{getErrorMessage(_user.get('passwordGroup').errors)}}
          </mat-error>
        </p>
        <mat-card-actions>
          <a type="submit" mat-raised-button [disabled]="!_user.valid">Register</a>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
