<div class="genreForm">
  <mat-card>
    <mat-card-title>Add genre</mat-card-title>
    <mat-card-content>
      <form [formGroup]="_genre" (ngSubmit)="onSubmit(actionType)">
        <p>
          <mat-form-field>
            <mat-label>Select a genre</mat-label>
            <mat-select formControlName="genreId" required>
              <mat-option *ngFor="let genre of genres$ | async" value="{{genre.genreId}}">{{genre.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="_genre.get('genreId')['errors'] && _genre.get('genreId').touched">
              {{getErrorMessage(_genre.get('genreId')['errors'])}}
            </mat-error>
          </mat-form-field>
        </p>
        <mat-card-actions>
          <button type="submit" (click)="onSubmit('Another')" mat-raised-button [disabled]="!_genre.valid">Add another
            genre</button>
          <button type="submit" (click)="onSubmit('Next')" mat-raised-button [disabled]="!_genre.valid">Next</button>
          <button mat-raised-button [routerLink]="['../../../all-events']">Cancel</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
