<div class="shortCard">
  <mat-card>
    <mat-card-title>{{event.name}} ({{event.country.toUpperCase()}})</mat-card-title>
    <mat-card-subtitle>Starting {{event.startDate | date:'dd/MM/yyyy'}} to {{event.endDate|date:'dd/MM/yyyy'}}
      ({{event.nrOfDays}} days of fun!)</mat-card-subtitle>
    <img mat-card-image src="{{event.headerImageURL}}" class="headerImage" />
    <mat-card-content>
      <p>{{event.description}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button [routerLink]="['detail-page',event.eventId]">More details</button>
    </mat-card-actions>
  </mat-card>
</div>
