<div class="genreForm">
  <mat-card>
    <mat-card-title>Edit genre</mat-card-title>
    <mat-card-content>
      <form [formGroup]="_genre" (ngSubmit)="onSubmit()">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput aria-label="Name" type="text" formControlName="name" required />
            <mat-error *ngIf="_genre.get('name')['errors'] && _genre.get('name').touched">
              {{getErrorMessage(_genre.get('name')['errors'])}}
            </mat-error>
          </mat-form-field>
        </p>
        <p>
          <button type="submit" mat-raised-button [disabled]="">Save</button>
          <button mat-raised-button>Cancel</button>
        </p>
      </form>
    </mat-card-content>
  </mat-card>
</div>
