<div>
  <agm-marker [latitude]="50.0000000" [longitude]="3.0000000">
    <agm-info-window>
      <mat-card class="card">
        <mat-card-title>Test</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-content>test adf
          azdajedhzehfzeijufhzfiuzefhezuihfuiezhfueizfuizhfuiezhfuiezhfiuezhfuiezhfiuezhfiuzhfiuzefhiuzehfiuezhiu
        </mat-card-content>
        <mat-card-actions class="moreDetails"><a mat-button>More details</a></mat-card-actions>
      </mat-card>
    </agm-info-window>
  </agm-marker>
</div>
