.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullPost {
  width: 50%;
  text-align: center;
  margin-top: 20px;
}

mat-card-title {
  font-size: 2.5em;
}

mat-card-content{
  text-align: left;
}

.comment{
  margin: 15px;
}

.loading {
    margin-left: 47%;
    margin-top: 20%;
    margin-bottom: 20%;
  }
  