.details {
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}

.headerImage {
  width: 40%;
  border-radius: 10px;
}

.buttons button {
  margin-top: 10px;
  margin-right: 10px;
  width: 120px;
}


.genreLink {
  text-decoration: none;
  color: black;
}

.resourceLink {
  color: black;
}

.mapCardDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapCard {
  width: 40%;
  border-radius: 10px;
}

agm-map {
  height: 400px;
  width: 100%;
}

.loading {
  margin-left: 47%;
  margin-top: 20%;
  margin-bottom: 20%;
}
